.header {
    display: block;
    width: 100%;
    height: 162px;
    background: url(../../../../assets/desktop/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
} 